<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template.html}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>
    Material Dashboard by Creative Tim
  </title>


</head>

<body layout:fragment="content">
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Add Book</h4>
            <p class="card-category">Create your book</p>
          </div>
          <div class="card-body">
            <form method="post" th:action="@{/book/create}" th:object="${model}">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="name" class="bmd-label-floating">Name</label>
                    <input type="text" name="name" th:field="${model.name}" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="form-control" name="publisherid">
                      <option th:each="p : ${publisherCatalogs}" th:value="${p.id}" th:text="${p.name}">
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="author" class="bmd-label-floating">Author</label>
                    <input type="text" name="author" th:field="${model.author}" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="genre" class="bmd-label-floating">Genre</label>
                    <input type="text" name="genre" th:field="${model.genre}" class="form-control">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary pull-right">Create Book</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>