<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template.html}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>
        Material Dashboard by Creative Tim
    </title>

</head>

<body layout:fragment="content">
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">List Publisher Catalog</h4>
                        <p class="card-category"> Here are list publisher catalog</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">Contact Person</th>
                                <th scope="col">Phone</th>
                                </thead>
                                <tbody>
                                <tr th:each="p : ${publisherCatalogs}">
                                    <th scope="row" th:text="${p.id}"></th>
                                    <td th:text="${p.name}"></td>
                                    <td th:text="${p.address}"></td>
                                    <td th:text="${p.contactPerson}"></td>
                                    <td th:text="${p.phone}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>